html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #303030;
}

* {
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;

    background-color: #454545;

    width: 30vw;
    height: 30vw;

    min-width: 250px;
    min-height: 250px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cell {
    background-color: #606060;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: #EEE;
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;

    border-radius: 8px;

    transition: background 0.2s, transform 0.2s;
    will-change: transform;
}

.cell:not(.disabled):hover {
    background-color: #707070;
    transform: scale(1.01);
}

.cell.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Modales */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;

    font-family: 'Roboto', Arial, sans-serif;
    color: #EEE;

    transition: opacity 0.3s ease;
}

#symbol-modal[style*="display: flex"], #winner-modal[style*="display: flex"] {
    display: flex !important;
}

.modal > div {
    background: #404040;
    padding: 2em 3em;
    border-radius: 8px;
    text-align: center;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.modal button {
    font-size: 2em;
    margin: 1em;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 6px;
    background: #505050;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}

.modal button:hover {
    background: #222;
}

.sym-x::after {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: url('../assets/cross.svg') center/contain no-repeat;
    filter: brightness(0) saturate(100%) invert(54%) sepia(25%) saturate(6393%) hue-rotate(329deg) brightness(111%) contrast(107%);
}

.sym-o::after {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    background: url('../assets/circle.svg') center/contain no-repeat;
    filter: brightness(0) saturate(100%) invert(90%) sepia(68%) saturate(535%) hue-rotate(100deg) brightness(104%) contrast(103%);
}